body {
  font-family: sans-serif;
}

.center-offset {
  margin-top: 10%;
  text-align: center;
}

.left-inside {
  display: inline-block;
  text-align: left;
}

#column-one, #column-two {
  width: 50%;
  float: left;
}

img {
  opacity: 0.4;
  border-radius: 5px;
  border: 2px solid black;
}

img:hover {
  opacity: 1.0;
}
